@use "../styles/variables";
@use "../styles/globals";

aside {
    display: flex;
    flex: 2;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10px;
    min-width: 250px;
    background: variables.$gradient-bg;
    transition: width 0.3s;

    @media (max-width: 1200px) {
       display: none;
    }
}

.main-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    width: 800px;
    min-width: 800px;
    background-color: #fff;
}